<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/NAMESPACE/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="modulery" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>